* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------
        FOOTER
----------------------*/
.lists-container{
  display: flex;
  color: red;
}

ul{
  list-style: none;
}

.list{
  padding: 10px;
  border: 1px dashed red;
}